.wrap-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.main-logo {
    width: 186px;
}

.main-msg {
    width: 155px;
    font-size: 26px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFF;
}

.main-span {
    width: 248px;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-family: var(--font-main);
    color: #FFF;
}

.wrap-button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.main-button-login, .main-button-signup {
    border: none;
    background-color: var(--button);
    font-size: 1rem;
    font-family: var(--font-main);
    font-weight: 600;
    color: #FFF;
    padding: 8px 6px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgb(59, 59, 59);
    width: 180px;
}

.main-img {
    width: 247px;
    margin-right: 3rem;
}